@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  /* font-family: "Raleway", sans-serif; */
}

.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.834)
    url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
    no-repeat;
  z-index: 1;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.active {
  border-bottom: 2px solid #ff6060;
}

/* NavBar CSS */

.nav {
  /* background-color: crimson; */
  color: #ff6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1rem 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  font-size: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.imgHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.imgHome h1 {
  position: absolute;
  align-self: center;
  color: #fff;
  font-size: 48px;
  padding: 1rem;
}

.imgHome img {
  border-radius: 25px;
  width: 100%;
  height: 223px;
  object-fit: cover;
  filter: brightness(70%);
  padding: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav li {
  position: relative;
}

.nav li::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff6060;
  transition: width 0.3s ease-in-out;
}

.nav li:hover::before {
  width: 100%;
}

/* Card  */

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  background-color: #eae9e9;
  padding: 2rem;
  border-radius: 10px;
  margin: 1rem;
}

.card {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card h2 {
  position: relative;
  bottom: 50px;
  left: 15px;
  font-size: 18px;
  color: #fff;
}

.arrowImgOfElement {
  width: 30px;
  height: 30px;
  filter: invert(99%) sepia(94%) saturate(3%) hue-rotate(230deg)
    brightness(200%) contrast(100%);
}

/* About */

.allElementAbout {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.imgAbout {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.imgAbout img {
  border-radius: 25px;
  width: 100%;
  height: 223px;
  object-fit: cover;
}

.oneElementAbout {
  width: 80%;
  display: flex;
  height: auto;
  margin: 1rem;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
}

.oneElementAbout button {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  padding: 10px;
  align-items: center;
  background-color: #ff6060;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  z-index: 1;
}

.oneElementAbout p {
  position: relative;
  text-align: -webkit-left;
  padding: 20px 10px 10px 10px;
  font-size: 24px;
  bottom: 10px;
  border-radius: 10px;
  color: #ff6060;
  background-color: #eae9e9;
}

/* Error Page */

.Error404-title {
  font-family: "Montserrat", sans-serif;
  font-size: 288px;
}

.ErrorPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ff6060;
}

.ErrorPage a {
  color: #ff6060;
}

.Error_link {
  display: flex;
  align-items: center;
  gap: 233px;
  justify-content: space-between;
  flex-direction: column;
}

/* HomeDescription */

.allElementResa {
  color: #ff6060;
  margin: 0 1rem 0 1rem;
}

.imgResa {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.imgResa img {
  border-radius: 25px;
  object-fit: cover;
  height: 415px;
}

.profilAndTitre {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tag {
  display: flex;
  gap: 10px;
  color: #fff;
  font-size: 14px;
}

.tag li {
  padding: 0 25px 0 25px;
  border-radius: 25px;
  background-color: #ff6060;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.tag li:hover {
  transform: scale(1.05);
}

.user {
  align-self: center;
  text-align: -webkit-center;
}

.userDetail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.star-rating {
  display: flex;
  justify-content: space-around;
}

.userDetail h3 {
  font-size: 18px;
}

.userDetail img {
  width: 64px;
  height: 64px;
  border-radius: 50px;
}

.DescriptionAndEquipement {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Description,
.Equipement {
  width: 40%;
}

.Description h4,
.Equipement h4 {
  background-color: #ff6060;
  color: #fff;
}

.Description button,
.Equipement button {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 52px;
  padding: 10px;
  align-items: center;
  background-color: #ff6060;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  z-index: 1;
  font-size: 18px;
}

.Description div,
.Equipement ul,
.aboutText {
  text-align: -webkit-left;
  position: relative;
  padding: 2rem 1rem;
  font-size: 18px;
  bottom: 10px;
  z-index: -1;
  border-radius: 10px;
  color: #ff6060;
  background-color: #eae9e9;
}

.Equipement ul {
  padding: 0;
}

.aboutText {
  font-size: 24px;
}

.rotate-icon {
  transform: rotate(180deg);
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

/* Carousel */

.carousel {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.left,
.right {
  position: absolute;
  color: #fff;
  font-size: 10px;
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
}

.left {
  left: 10px;
  z-index: 1;
}

.right {
  right: 10px;
}

.arrow-img {
  width: 50px !important;
  height: 50px !important;
  filter: invert(99%) sepia(94%) saturate(3%) hue-rotate(230deg)
    brightness(200%) contrast(100%);
}

.carousel-content {
  flex: 1;
  position: relative;
}

.carousel img {
  width: 100%;
}

.carousel-number {
  position: absolute;
  left: 45%;
  right: 45%;
  bottom: 5%;
  text-align: center;
  padding: 5px;
  color: #fff;
  font-size: 30px;
}

.arrow-size {
  font-size: 24px;
  padding: 3px;
}

/* Footer */
.footer {
  margin-top: 1rem;
  padding: 2rem;
  background-color: black;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer img {
  filter: invert(99%) sepia(94%) saturate(3%) hue-rotate(230deg)
    brightness(200%) contrast(100%);
  width: 122px;
  margin-bottom: 2rem;
}

.footer p {
  color: #fff;
  font-size: 24px;
}

@media screen and (max-width: 800px) {
  .imgHome h1 {
    font-size: 28px;
  }
  .imgHome img {
    padding: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .imgHome h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .profilAndTitre {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  /* homePage */
  .imgHome h1 {
    font-size: 24px;
    margin: 2rem;
    line-height: 24px;
    margin-right: 90px;
  }

  .imgHome img {
    height: 111px;
    padding: 1rem;
  }

  .site-title img {
    height: 47px;
  }

  .nav a {
    gap: 1rem;
    padding: 0;
    font-size: 12px;
  }

  .container {
    background: none;
    padding: 1rem;
  }

  /* HomeDetail */

  .imgResa {
    margin: 0;
  }

  .imgResa img {
    height: 255px;
  }

  .tag {
    flex-wrap: wrap;
  }

  .tag li {
    border-radius: 10px;
  }

  .DescriptionAndEquipement {
    flex-direction: column;
    gap: 20px;
  }

  .aboutText {
    font-size: 12px;
  }

  .Description,
  .Equipement {
    width: 100%;
  }
  .oneElementAbout {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }

  .oneElementAbout button {
    font-size: 13px;
    height: 30px;
  }
  .user {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .carousel-number {
    display: none;
  }

  .title {
    font-size: 18px;
  }

  .arrow-size {
    font-size: 13px;
    padding: 3px;
  }

  .userDetail img {
    width: 32px;
    height: 32px;
  }

  .Description button,
  .Equipement button {
    font-size: 13px;
    height: 30px;
  }
  .arrowImgOfElement {
    width: 16px;
    height: 16px;
  }
  .arrow-img {
    width: 25px !important;
    height: 25px !important;
  }

  .footer p {
    font-size: 15px;
  }
}

@media screen and (max-width: 280px) {
  /* homePage */
  .imgHome h1 {
    font-size: 10px;
  }
  .left,
  .right {
    font-size: 50px;
  }
  .footer img {
    width: 60px;
  }
}
